body {
  padding-top: 110px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  color: #1dd2af !important;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 22px;
}

.navbar-default {
  background-color: rgb(246, 248, 248);
}

.navbar-default > .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-nav li > a {
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.navbar-nav .active > a {
  background-color: #1dd2af !important;
  color: #fff !important;
}

footer {
  padding-top: 18px;
  background-color: rgb(246, 248, 248);
  border-top: 1px solid rgb(231, 231, 231);
}

footer a:link {
  color: #1dd2af;
}

.footer > li {
  width: 50%;
  padding-bottom: 10px;
}

.footer > li:first-child {
  text-align: left;
}

.footer > li:last-child {
  text-align: right;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .footer > li {
    width: 100%;
  }

  .footer > li:first-child, .footer > li:last-child {
    text-align: center;
  }
}
