body {
  padding-top: 90px;

  font-family: 'Dosis', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  color: #fff;
}

.cover {
  background: url('/img/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link {
  color: #fff;
}

.logo {
  display: inline;
  padding: 10px 20px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  font-family: 'Crete Round', serif;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;

  background-color: rgba(99, 148, 113, 0.8);
}

.title {
  font-size: 40px;
  font-weight: 200;
  text-transform: uppercase;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.address div {
  text-transform: uppercase;
}

.content-text div, .ot-time {
  font-size: 17px;
  font-weight: bold;
}

.ot-day {
  font-size: 15px;
  text-transform: uppercase;
}

.none {
  display: none;
}
