#home
  .container
    p We sell all fresh fruits and vegetables. We specialise in Indian Groceries. We specially import Indian snacks and savouries for our customers. We also provide a very good customer service.

#contact
  include contact
  br
