footer
  .container
    ul.list-inline.footer
      li.text-left
        ul.list-inline
          li: a(href="#", onclick="scrollToSection('home')") Home
          li: a(href="#", onclick="scrollToSection('contact')") Contact Us
      li.text-right.text-muted &copy; 2014 Patco Fruit &amp; Veg Limited
