//- replace http:// with // after its uploaded and replace google analytics id
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Patco Fruits and Vegetables
    meta(name="description", value="")

    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/main.css")

  body
    include templates/header

    include templates/content

    include templates/footer

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="js/main.js")
