doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Patco Fruit and Veg
    meta(name="description", content="Patco Fruit & Veg shop sells all fresh fruits and vegetables. We specialise in Indian Groceries. We specially import Indian snacks and savouries. We also provide a very good customer service.")

    link(href='http://fonts.googleapis.com/css?family=Crete+Round|Dosis:200,400,600,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/main.css")

  body
    include header
    include content

    script(src="/js/main.js")
