.container.products
  .row
    .col-md-12 Our products

  br

  .row
    .col-xs-4.product
      div.text-center: img(src="/img/fruits.png")
      .text-center Fruits

    .col-xs-4.product
      div.text-center: img(src="/img/vegetables.png")
      .text-center Vegetables

    .col-xs-4.product
      div.text-center: img(src="/img/fruits.png")
      .text-center Sweets

    .col-xs-4.product
      div.text-center: img(src="/img/fruits.png")
      .text-center Savourites

    .col-xs-4.product
      div.text-center: img(src="/img/fruits.png")
      .text-center Groceries

    .col-xs-4.product
      div.text-center: img(src="/img/fruits.png")
      .text-center Frozen foods
